#! /usr/bin/make -f
export LC_ALL=C.UTF-8
export PYBUILD_NAME=colorspacious
export PYBUILD_TEST_ARGS=-v colorspacious/*.py
%:
	dh $@ --buildsystem=pybuild

#override_dh_auto_build-indep:
#ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
#	cd doc && \
#	PYTHONPATH=$(CURDIR) http_proxy='http://127.0.0.1:9/' https_proxy='https://127.0.0.1:9/' \
#	sphinx-build -N -E -T -b html . $(CURDIR)/.pybuild/docs/html/
#	rm -rf $(CURDIR)/.pybuild/docs/html/.doctrees
#endif

before-pybuild-autopkgtest:
	# Pull test items that are otherwise uncaught by pybuild-autodep8.
	mkdir -pv ../../autopkgtest_tmp/build
	cp -rv /usr/lib/python3/dist-packages/colorspacious \
		../../autopkgtest_tmp/build/colorspacious
